html, body, #app {
    height: 100%;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.form {
    width: 15rem;
}

#form-register {
    margin-top: 2.5rem;
}

textarea {
    resize: none;
}

.create-post .card-body {
    padding: 1rem;
}

.post {
    width: 35rem;
    margin-top: 0.25rem;
}

.post:last-child {
    margin-bottom: 1rem;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* like button CSS */

.fa-heart {
    cursor: pointer;
    font-size: 1rem;
}

.active {
    color: red;
}

.inactive {
    color: white;
}

.fa-heart:active {
    animation: size 0.4s;
}

@keyframes size {
    0% {
        font-size: 1rem
    }
    50% {
        font-size: 1.25rem
    }
    100% {
        font-size: 1rem
    }
}

/* end of like button CSS*/