html, body, #app {
    height: 100%;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.form {
    width: 15rem;
}

#form-register {
    margin-top: 2.5rem;
}

textarea {
    resize: none;
}

.create-post .card-body {
    padding: 1rem;
}

.post, .profile {
    width: 35rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px) {
    .post, .profile {
        width: 95%;
    }
}

.post:last-child {
    margin-bottom: 1rem;
}

/* like button CSS */

.fa-heart {
    cursor: pointer;
    font-size: 1rem;
}

.active {
    color: red;
}

.inactive {
    color: white;
}

.fa-heart:active {
    animation: size 0.4s;
}

@keyframes size {
    0% {
        font-size: 1rem
    }
    50% {
        font-size: 1.25rem
    }
    100% {
        font-size: 1rem
    }
}

/* end of like button CSS*/

.dropdown-toggle::after {
    display: none !important;
}

.stats {
    color: white;
}

.custom-card-title {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 480px) {
    .custom-card-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .custom-card-title {
        font-size: 1.2rem;
    }
}

.form-level-errors {
    width: 100%;
    margin-top: .25rem;
    color: #e74c3c;
}